<div class="hidden md:flex items-center relative text-left" data-controller="menu">
  <button data-action="menu#toggleDropdown" type="button" id="topicDropdown" class="px-4 py-2 font-bold text-white">
    Browse by Topic
  </button>
  <img class="w-4 h-4 text-white" src="https://img.icons8.com/ios-filled/50/expand-arrow--v1.png" alt="expand-arrow--v1"/>

  <div data-menu-target="dropdown" class="hidden absolute right-0 mt-2 w-40 bg-blue-600 rounded-md shadow-lg">
    <form action="<%= root_path %>" method="get">
      <select name="topic" class="block w-full p-2 bg-blue-600 text-white">
        <option value="children">Children's Literature</option>
        <option value="fiction">Fiction books</option>
        <option value="drama">Drama</option>
      </select>
      <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100">
        Apply
      </button>
    </form>
  </div>
</div>
