
<div data-controller="menu" class="ml-3 relative">
    <div class="flex items-center">
    <p>Browse</p>
    <button data-action="menu#toggleDropdown click@window->menu#closeDropdown" type="button" id="topicDropdown" class="px-4 py-2 font-bold text-white">
      <span class="w-4 h-4">▾</span>
     </button>
  </div>
  <div data-menu-target="dropdown" class="   hidden    origin-top-right absolute right-0 mt-2 w-64 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
      <% topics = ["Children", "Fiction", "Drama", "Science", "Philosophy", "Religion"] %>
      <% topics.each do |topic| %>
        <%= link_to topic, "#{root_path}?topic=#{topic.downcase}", class: "rounded hover:bg-gray-300 hover:text-blue-600 block px-4 py-2 text-gray-700" %>
      <% end %>
  </div>
</div>
