<%= link_to root_path  do %>
    <h1 class="flex items-center cursor-pointer text-gray-800 dark:text-white" aria-label="Book review"">
        <%= image_tag "book_icon.png", class: 'w-10 h-10' %>
        <span class="ml-3 text-xl cursor-pointer text-white font-bold">Ridlib</span>
    </h1>
<% end %>

