<%= link_to root_path  do %>
    <div class="flex items-center">
        <%= image_tag "book_icon.png", class: 'w-10 h-10' %>
        <span class="ml-3 text-xl cursor-pointer text-white font-bold">Book Review</span>
    </div>
<% end %>

