<form action="<%= search_books_path %>" method="get" class="flex items-center space-x-3">
    <input type="text" name="q" placeholder="Search for books" class="text-sm dark:bg-gray-900 text-gray-600 placeholder-gray-400 dark:placeholder-gray-300 focus:outline-none rounded" />
    <button type="submit" aria-label="search items" class="w-5 text-gray-800 dark:hover:text-gray-300 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800">
        <img class="transform rotate-90 dark:hidden md:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-I-svg2.svg" alt="search">
        <img class="transform rotate-90" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-I-svg2dark.svg" alt="search">
    </button>
</form>
