<form action="<%= search_books_path %>" method="get" class="flex items-center space-x-3">
    <input type="text" name="q" placeholder="Search for books" class="text-sm text-gray-600 placeholder-gray-400 focus:outline-none rounded" />
    <button type="submit" aria-label="search items" class="text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-gray-800">
        <img class="transform rotate-90 dark:hidden md:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-I-svg2.svg" alt="search">
         <%= image_tag ("search-icon.png"), class: "hidden md:block w-8 h-8", alt: "search" %>
    </button>
</form>
