<div>
  <h1 class="font-bold text-4xl">Book Review</h1>
  <p>
    Is a book-tracking application built using Ruby on Rails and PostgreSQL. The
    app is similar to Goodreads and allows users to keep track of books they
    have read, are currently reading, and want to read in the future. Users can
    also rate and review books, create and join book clubs, and discover new
    books to read through personalized recommendations.
  </p>
</div>
