<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
     <div class="flex flex-col items-center justify-center" data-controller="content-loader" data-content-loader-url-value="<%= home_lazy_load_path %>">
         <!-- <div class="flex items-center mb-4">
            <i class="fas fa-spinner fa-spin text-4xl mr-2"></i>
         </div>
         <span>Loading posts...</span> -->
         <%=  render 'books'%>
     </div>

  </div>
</section>

<div class="bg-white p-4 flex items-center mb-32">
  <% if @page.to_i > 1 %>
   <%= link_to "Previous", root_path(page: @page.to_i - 1 ), class: "bg-blue-600 p-2 text-white rounded" %>
  <% end %>

  <% if @page.to_i %>
   <%= link_to "Next", root_path(page: @page.to_i + 1), class: "bg-blue-600 p-2 text-white rounded ml-24" %>
  <% end %>
</div>
